<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h2>딱구의 블로그에 오신 것을 환영합니다.</h2>

<button th:onclick="|location.href='/'|" type="button">글</button>
<button th:onclick="|location.href='/series'|" type="button">시리즈</button>

<div>

    <div th:if="${#lists.isEmpty(seriesList)}" th:text="'시리즈가 없습니다.'"></div>

    <div th:each="series : ${seriesList}">
        <ul>
            <li><a th:href="@{/series/{id}(id=${series.series_id})}" th:text="${series.series}"></a></li>
        </ul>
    </div>

    <button th:onclick="|location.href='/add'|" type="button">글 작성</button>

</div>

</body>
</html>