<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action method="post">
    <div th:object="${addForm}">
        <div>
            <label for="title">제목</label>
            <input id="title" th:field="*{title}">
            <div th:errors="*{title}">제목을 입력하세요.</div>
        </div>
        <div>
            <label for="text">내용</label>
            <input id="text" th:field="*{text}">
            <div th:errors="*{text}">내용을 입력하세요.</div>
        </div>
    </div>

    <div th:object="${seriesForm}">
        <label for="seriesCategory">시리즈 카테고리</label>
        <select id="seriesCategory" th:field="*{series}">
            <option value="">==시리즈 선택(기본:선택안함)==</option>
            <option th:each="series : ${seriesCategory}" th:value="${series.series}"
                    th:text="${series.series}">시리즈 이름</option>
        </select>
    </div>

    <button type="submit">출간하기</button>
    <button type="button" th:onclick="|location.href='/'|">나가기</button>
</form>
<div>
    <button type="button" th:onclick="|location.href='/add-series?type=add'|">시리즈 추가하기</button>
</div>

</body>
</html>